Package: quickshell
Version: 0.3.0
Section: utils
Priority: optional
Architecture: amd64
Maintainer: bynuco <nesimiztrk@gmail.com>
Depends: ${shlibs:Depends}, libjemalloc2, libpam0g, libpipewire-0.3-0
Description: QtQuick based desktop shell toolkit for Wayland and X11